.movie-card {
    display: flex;
    flex-direction: row;
    align-items: center; 
    padding: 1vw;
    width: 95%;
    gap: 20px; 
    margin-bottom: 0.96vw;
}

.movie-img {
    width: 18vw; 
    height: 27vw;
    object-fit: cover;
    border-radius: 0.76vw;
    flex-shrink: 0;
    background-color: #e0e0e0; 
}

.movie-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center; 
    font-size: 2.68vw;
    font-family: 'Times New Roman', Times, serif;
    gap:1.91vw;
    width:50vw;
}

.fav-btn {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1vw;
    color: #ffffff;
    background-color: #7a007a;
    border-radius: 0.8vw;
    cursor: pointer;
    margin-top: 0.5vw;
    align-self: flex-start; 
    height: 2.8vw;
    width: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.fav-btn:hover {
    background-color: #660066;
}

.movie-title-text{
    font-size:2vw;
   

}
.movie-year{
    font-size:1.6vw;
}