main {
    width: 100%;
    box-sizing: border-box;
    padding: 0 2vw;
}


.main-layout {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;    
    width: 100%;
    gap: 7vw;            
    margin-top: 1vw;
}

.movies-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff; 
    border: 0.1vw solid #c653a6; 
    border-radius: 1.5vw;      
    padding: 1vw;
    width: 50%;                  
    box-sizing: border-box;
}

.no-movies {
    font-size: 1.91vw;
    font-family: 'Times New Roman', Times, serif;
}